@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Roboto", sans-serif;
    color: #fff;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

body.modal-open {
    overflow: hidden;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
    outline: none;
    color: #fff;
}

h1 {font-size: 2.25em;}
h2 {font-size: 1.8125em;}
h3 {font-size: 1.4375em;}
h4 {font-size: 1.125em;}
h5 {font-size: 0.875em;}
h6 {font-size: 0.6875em;}

@keyframes slideInFromTop {
    0% {
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
}

@keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes moveToRight {
    0% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    50% {
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes moveToBottom {
    0% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}

/*   scroll   */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #f69f12;
}

/*   back-to-top   */

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    width: 45px;
    height: 45px;
    border: none;
    outline: none;
    background-color: #f69f12;
    color: white;
    cursor: pointer;
    border-radius: 35px;
}

#back-to-top:hover,
#back-to-top:focus,
#back-to-top:active {
    background-color: #000;
}

@media screen and (max-width: 992px) {

    h1 {font-size: 1.8125em;}
    h2 {font-size: 1.4375em;}
    h3 {font-size: 1.125em;}
    h4 {font-size: 0.875em;}
    h5 {font-size: 0.6875em}
    h6 {font-size: 0.5625em;}

    #back-to-top {
        width: 40px;
        height: 40px;
    }

}

@media screen and (max-width: 600px) {

    h1 {font-size: 1.4375em;}
    h2 {font-size: 1.125em;}
    h3 {font-size: 0.875em;}
    h4 {font-size: 0.6875em;}
    h5 {font-size: 0.5625em}
    h6 {font-size: 0.5em;}

    #back-to-top {
        width: 35px;
        height: 35px;
    }

}
