.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 90%;
    height: 90%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 4.0625rem 0;
    color: #000;
    text-align: justify;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-content .close {
    position: absolute;
    top: 25px;
    right: 25px;
    outline: none;
    background: none;
    border: none;
    font-size: 1.875em;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus,
.modal-content .close:active {
    color: #f69f12;
}

.modal-content .title {
    color: #f69f12;
    text-transform: uppercase;
    text-align: center;
    width: 80%;
}

.modal-block-text {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.modal-block-text .modal-text{
    width: 100%;
    padding: 0.625rem 0 0;
}

.modal-block-text .modal-text-title {
    font-weight: 900;
    text-align: center;
}

#modal1 .modal-text:nth-child(4) ul {
    padding-top: 0;
}

.modal-block-text .modal-text ul {
    padding: 0.625rem 0.875rem 0;
}

.modal-block-text .modal-text ul li {
    padding: 0.125rem 0;
    position: relative;
}

.modal-block-text .modal-text ul li:before {
    content: "\2022";
    color: red;
    display: inline-block;
    font-size: 2em;
    position: absolute;
    top: -9px;
    left: -16px;
}

.lg {
    font-weight: 900;
}

@media screen and (max-width: 992px) {

    .modal-block-text .modal-text ul li:before {
        content: "\2022";
        top: -6px;
        font-size: 1.6em;
    }

    .modal-content .close {
        font-size: 1.5625em;
    }

}

@media screen and (max-width: 600px) {

    .modal-block-text .modal-text,
    .modal-block-text .modal-text-title {
        width: 100%;
    }

    .modal-block-text .modal-text ul li:before {
        content: "\2022";
        top: -4px;
        font-size: 1.2em;
    }

    .modal-content .close {
        font-size: 1.25em;
    }

}