.wrapper {
    width: 100%;
    height: 100%;
}

.wrapper-section {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.wrapper-sections-items {
    width: 100%;
    height: 100%;
}

#section-2,
#section-3,
#section-4 {
    padding: 3.125rem 0.625rem;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.cl {
    color: #f69f12;
    text-transform: capitalize;
}

.section-title-big h1 {
    text-transform: uppercase;
    font-weight: 900;
}

.section-title-small {
    padding: 1.25rem 3.125rem;
}

.wrapper-section-item-2,
.wrapper-section-item-3,
.wrapper-section-item-4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------WRAPPER-HEADER------------------------------------------------------*/

.wrapper-header {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #fff;
}

.wrapper-header .menu-btn {
    display: none;
}

.wrapper-header .items {
    text-align: center;
    overflow: hidden;
}

.wrapper-header .item {
    justify-content: center;
    align-items: stretch;
    height: 80px;
    text-transform: capitalize;
}

.wrapper-header .header-right a {
    font-size: 0.875em;
}

.wrapper-header .item.active {
    background-color: #f69f12;
}

.wrapper-header .item.active a {
    color: #fff;
}

.wrapper-header .logo .logo-img {
    max-width: 180px;
}

.wrapper-header .item a {
    padding: 0 0.375em;
    width: 100%;
    height: 100%;
    color: #000;
    justify-content: center;
    align-items: center;
}

/*------------------------------------------------------LANG----------------------------------------------------------*/

.wrapper-header .header-center li {
    padding: 0 0.625rem;
}

.wrapper-header .header-center a {
    border: none;
    cursor: pointer;
    background: none;
}

.wrapper-header .header-center a:hover,
.wrapper-header .header-center a:focus,
.wrapper-header .header-center a:active {
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.wrapper-header .header-center .lng {
    max-width: 32px;
}

/*--------------------------------------------------SECTION-2---------------------------------------------------------*/

#section-2 {
    background-color: #383838;
}

.wrapper-section-item-2 .section-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.wrapper-section-item-2 .section-content .block {
    width: 29.55%;
    overflow: hidden;
    margin: 0.625rem;
}

.wrapper-section-item-2 .block-text {
    text-align: left;
    background-color: #f69f12;
    padding: 0.625rem;
}

.wrapper-section-item-2 .block-text h4 {
    font-weight: 700;
    text-transform: capitalize;
}

.wrapper-section-item-2 .block-image {
    overflow: hidden;
    position: relative;
}

.wrapper-section-item-2 .block:hover .block-overlay.right {
    left: 0;
}

.wrapper-section-item-2 .block-overlay.right {
    left: -100%;
}

.wrapper-section-item-2 .block-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
}

.wrapper-section-item-2 .md {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #f69f12;
    font-weight: 700;
    font-size: 1.125em;
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------SECTION-3---------------------------------------------------------*/

#section-3 {
    background-color: #fff;
    color: #000;
}

.wrapper-section-item-3 .block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper-section-item-3 .block-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper-section-item-3 .block-video {
    justify-content: center;
    margin: 0.625rem 0;
    overflow: hidden;
}

.wrapper-section-item-3 .block-text {
    text-align: justify;
    padding: 1.25rem 0 0.625rem;
}

.wrapper-section-item-3 .block-title {
    padding: 0.625rem 0 1.25rem;
}

.wrapper-section-item-3 .block-info-contents {
    text-align: center;
    margin: 0.625rem 0;
    padding: 0.625rem 0;
    background-color: #383838;
    color: #fff;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.wrapper-section-item-3 .info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper-section-item-3 .block-info-content-text {
    padding: 0 0.625rem;
    width: 150px;
}

.wrapper-section-item-3 .block-info-content-image img {
    max-width: 40px;
}

.wrapper-section-item-3 .block-arrow {
    justify-content: center;
    align-items: center;
}

.wrapper-section-item-3 .block-arrow {
    width: 100%;
}

.wrapper-section-item-3 .arrow {
    color: #f69f12;
    font-weight: 900;
    font-size: 1.5em;
}

.wrapper-section-item-3 .arrow-2 {
    display: none;
}

/*--------------------------------------------------SECTION-4---------------------------------------------------------*/

#section-4 {
    background-color: #383838;
}

.wrapper-section-item-4 .block-box-items {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapper-section-item-4 .block-box-image {
    justify-content: center;
}

.wrapper-section-item-4 .block-box-image img {
    max-width: 40px;
}

.wrapper-section-item-4 .block-box-item {
    width: 45.15%;
    height: 200px;
    margin: 0.625rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #b9b9b9;
    overflow: hidden;
    line-height: 1.3em;
}

.block-video {
    width: 100%;
    height: 100%;
}

.wrapper-section-item-3 .block-video iframe {
    width: 100%;
    height: 500px;
    max-width: 100%;
    display: block;
    overflow: hidden;
    outline: none;
}

iframe[seamless] {
    display: block;
}

/*------------------------------------------------WRAPPER-FOOTER------------------------------------------------------*/

.wrapper-footer {
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 1.25rem 3.125rem;
    line-height: 1.3em;
    text-align: center;
}

.wrapper-footer a {
    -o-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.wrapper-footer a:hover,
.wrapper-footer a:focus,
.wrapper-footer a:active {
    -o-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.wrapper-footer .footer-right h5:hover span {
    color: #f69f12;
    border-bottom: 1px solid #f69f12;
}

/* @media */

@media screen and (max-width: 992px) {

    .wrapper-header {
        justify-content: space-between;
    }

    .wrapper-header .logo .logo-img {
        max-width: 160px;
    }

    .wrapper-header .header-right a {
        font-size: 0.6875em;
    }

    .wrapper-header .header-center .lng,
    .wrapper-footer img {
        max-width: 20px;
    }

    .wrapper-section-item-2 .section-content .block,
    .wrapper-section-item-4 .block-box-item {
        width: 45%;
    }

    .wrapper-section-item-2 .md {
        font-size: 0.875em;
    }

    .wrapper-header {
        padding: 0 0.625rem;
    }

    .wrapper-section-item-3 .block-video iframe {
        height: 400px;
    }

}

@media screen and (max-width: 600px) {

    .wrapper-header {
        padding: 0 0.625rem;
        z-index: 9999;
    }

    .items-overlay {
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .items-overlay.show {
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 99;
    }

    .wrapper-header .items {
        position: fixed;
        flex-direction: column;
        top: 80px;
        bottom: 0;
        left: 0;
        height: 400px;
        z-index: 999;
        width: 100%;
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        background-color: #fff;
        -o-transition: all .3s;
        -ms-transition: all .3s;
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
    }

    .wrapper-header .items.items-hide {
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    .wrapper-header .menu-btn {
        display: block;
        border: none;
        width: 30px;
        height: 30px;
        font-size: 1em;
        color: #fff;
        border-radius: 3px;
        background: #f69f12;
        cursor: pointer;
    }

    .wrapper-header .header-right a {
        font-size: 0.875em;
    }

    .wrapper-header .logo .logo-img {
        max-width: 140px;
    }

    .wrapper-header .header-center .lng,
    .wrapper-footer img {
        max-width: 16px;
    }

    .wrapper-section-item-2 .section-content .block,
    .wrapper-section-item-4 .block-box-item {
        margin: 0.625rem 0;
        width: 80%;
    }

    .wrapper-section-item-3 .block-info,
    .wrapper-section-item-3 .block-video{
        width: 80%;
    }

    .wrapper-section-item-2 .md {
        font-size: 0.6875em;
    }

    .wrapper-section-item-2 .block-text {
        text-align: center;
    }

    .wrapper-section-item-3 .block-info-contents {
        flex-direction: column;
    }

    .wrapper-section-item-3 .arrow-1 {
        display: none;
    }

    .wrapper-section-item-3 .arrow-2 {
        display: block;
        padding-top: 0.3125rem;
    }

    .wrapper-footer {
        flex-direction: column;
    }

    .wrapper-footer .footer-center {
        order: 1;
    }

    .wrapper-section-item-3 .block-video iframe {
        height: auto;
    }

    .wrapper-footer .footer-center {
        padding-top: 6px;
    }

}
